@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');

body{
    background-color: #3C3D37;
    margin: 0%;
    padding: 0%;
}

.sliders1{
    border: 5px solid white;
}

.Dollorite{
    color: #4DA1A9;
    font-family: 'Asset';
    text-align: center;
    text-shadow: -2px 2px 1px white;
}

.categoriesitems{
    display: flex;
    justify-content: space-evenly;
}

.categories{
    background-color: white;
    color: #4DA1A9;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
}

.categories:hover{
    background-color: #4DA1A9;
    color: whitesmoke;
    transition: all 0.4s ease-in-out;
}

.containre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10rem;
    padding-left: 50px;
}

#sea{
    background-color: #4DA1A9;
    color: whitesmoke;
    border-radius: 15px;
    border: 1px solid transparent;
    font-size: 17px;
    padding: 5px 10px;
}

.containercustom{
    display: flex;
    justify-content: space-evenly;
}